/* .trisection-container {
    height: 100%;
} */

.section-one {
background-color: #c7d1cb;
text-align: justify;
height: 350px;
margin: 0cm;
padding: 0cm;
width: 100%;
/* clear: none; */
/* float: left; */
}


.section-two{
    background-color: #57756c;
    height: 350px;
    clear: none;
    float: left;
    width: 100%;
}

.section-three {
    float: left;
    clear: none;
    width: 100%;
}

/* could make sticky? */