.trisection-container {
  height: 100%;
}

.section-one {
  /* change this color I think */
  background-color: #c7d1cb;
  height: 350px;
  margin: 0cm;
  padding: 0cm;
  width: 100%;
  /* margin floats down in order to not underlap with the nav */
  margin-top: 44px;
  clear: none;
  float: left;
}

.section-one p {
  text-align: justify;
  justify-content: center;
  justify-items: center;
  /* border: 1px solid red; */
  padding-top: 6vh;
  padding-left: 8vh;
  padding-right: 8vh;
  font-size: larger;
  color: #333;
}

.section-two {
  background-color: #57756c;
  /* height: 350px; */
  clear: none;
  float: left;
  width: 100%;
  color: white;
  text-align: center;
  padding: 139px 0px 139px 0px
/* padding should be minus the font size, no? */
}

.section-two h2{
    font-size: 36px;
}

.section-three {
  float: left;
  clear: none;
  width: 100%;
}

/* could make sticky? */


@media screen and (max-width: 600px) {
  .section-one {
    margin-top: 400x;

    /* ???? */
    /* height: 500px; */
  }

  .section-one p {
    margin: 25px;
    font-size: 15.5px;
    padding: 2vh;
  }
}
