.trisection-container {
    height: 100%;
}

.section-one {
    /* change this color I think */
background-color: #c7d1cb; 
height: 350px;
margin: 0cm;
padding: 0cm;
width: 100%;
/* margin floats down in order to not underlap with the nav */
margin-top: 44px;
clear: none;
float: left;
}

.section-one p {
    /* max-width: 75%; */
    text-align: justify;
    justify-content: center;
    justify-items: center;
    padding: 75px 250px;
    /* margin-top: 3%; */
    font-size: large;
    color: #333
   
}

.section-two{
    background-color: #57756c;
    height: 350px;
    clear: none;
    float: left;
    width: 100%;
    color: white;
    text-align: center;
    /* actually probably make padding 175-font size top and bottom, rather than 350 height */
}


.section-three {
    float: left;
    clear: none;
    width: 100%;
}

/* could make sticky? */







/* Come back tot hsi for section one */
/* medium scrreen */
@media screen and (max-width: 900px){
    .section-one p {padding: 30px 80px;}
  }




@media screen and (max-width: 600px){
   .section-one {
       margin-top: 400x;
       /* ???? */
       /* height: 500px; */
   }

   .section-one p{
       margin: 25px;
   }
  }