.discList h2 {
    /*  0 or 50 margin? hmmm */
    margin: 0px;   
    padding: 50px;
    height: 150px;
    max-width: 100%;
    /* height: 15vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 0vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* take out last 2px to make not blurry? idk */
    text-shadow: 2px 2px 2px white; 

}

a:not(.linkedin), a:visited {
    text-decoration: none;
    color: darkslategray;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

/* a:hover{
  opacity: 0.5;
} */

/* add some hover! maybe transparency */

/* fix top el so not cut off by nav */
/* at least on mobile/small scrns */

