/* flex that display */
.container {
    /* display: flex;
    flex-direction: row; */
}

.portrait{
    width: 40%;
    float: left;
}

.portrait img{
    
    width: 100%;
    /* height: 300px; */
    /* position: absolute; */
} 

.info{
    width: 60%;
    float: left;
    text-align: center;
}

.info h1 {
    padding: 25px 0px 25px 0px;
    color: darkslategray;
    
}

.info h2{
    color: #57756c;
    font-style: italic;
    margin: 0px 25px 0px 25px;
}

.info p{
    margin: 1em;
    padding: 1em;
    max-width: 100%;
    align-items: center;
    color: #333;
    /* not sure about padding or margin */
}


/* mmm make img size a bit smaller here */
@media screen and (max-width: 700px){
    .portrait, .info {
        width: 100%;
    }
    .portrait img {
        width: 100%;
        height: 350px;
        /* max-height: 80%; */
    }
  }

