/* .cover {
    background-image: url('../images/home7.jpeg');
    height: 65vh;
    max-width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.cover h1 {
    font-size: 6vh;
} */

.cover {
    background-image: url('../images/home7.jpeg');
    height: 100vh;
    max-width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.cover h1 {
    font-size: 6vh;
}


.quote {
    height: 330px;
    background-color: #d2d4d2;
    text-align: center;
    margin: auto;
}

.tri-container h1{
    float: left;
}
/* 
.tri-one{
    background-image: 
} */
